In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 47.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=f69f1c2830a32f868174ad8db2b0b4d69698f7d57a66be414afb9de9971b65c5
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [3]:
# intializing spark
from pyspark import SparkContext, SparkConf
# spark config
conf = SparkConf().setAppName("sampleapp")
sc = SparkContext(conf=conf)

ValueError: ignored

In [4]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext.getOrCreate().getOrCreate()
spark = SparkSession(sc)

In [6]:
df = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/content/UIDAI-ENR-DETAIL-20170308.csv")

In [7]:
df.show()

+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|           Registrar|    Enrolment Agency|        State|  District|Sub District|Pin Code|Gender|Age|Aadhaar generated|Enrolment Rejected|Residents providing email|Residents providing mobile number|
+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|      Allahabad Bank|A-Onerealtors Pvt...|Uttar Pradesh| Allahabad|        Meja|  212303|     F|  7|                1|                 0|                        0|                                1|
|      Allahabad Bank|Asha Security Gua...|Uttar Pradesh| Sonbhadra| Robertsganj|  231213|     M|  8|                1|                 0|                        0|                                0|
|      Allahabad Bank|   SGS INDIA PVT LTD|Uttar Pradesh| Sultanpur|   Sultanpur|  227812|     F| 13|                1|                 0|                        0|                                1|
|      Allahabad Bank|Sri Ramraja Sarka...|Uttar Pradesh|    Shamli|      Shamli|  247775|     M|  6|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh| Gorakhpur|    Sahjanwa|  273001|     M|  8|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|      Pindra|  221101|     M| 14|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221001|     M|  9|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M|  4|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M| 10|                0|                 1|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M| 19|                1|                 0|                        0|                                1|
|      Allahabad Bank|Vedavaag Systems ...|Uttar Pradesh|Bara Banki|   Nawabganj|  225301|     M|  8|                1|                 0|                        0|                                0|
|Atalji Janasnehi ...|Atalji Janasnehi ...|        Assam|  Marigaon|   Bhuragaon|  782121|     M| 22|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|        Bihar| Gopalganj|  Vijayeepur|  841508|     M| 26|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587114|     M| 27|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587155|     F|  2|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587155|     M| 67|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587201|     F| 32|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587203|     M| 27|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587206|     F| 40|                1|                 0|                        0|                                0|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587206|     M| 28|                1|                 0|                        0|                                1|
+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- Registrar: string (nullable = true)
 |-- Enrolment Agency: string (nullable = true)
 |-- State: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Sub District: string (nullable = true)
 |-- Pin Code: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Aadhaar generated: integer (nullable = true)
 |-- Enrolment Rejected: integer (nullable = true)
 |-- Residents providing email: integer (nullable = true)
 |-- Residents providing mobile number: integer (nullable = true)

## Create a dataframe with Total Aadhaar's generated for each state.

In [9]:
df1 = df.groupby("State").sum("Aadhaar generated").show()

+--------------------+----------------------+
|               State|sum(Aadhaar generated)|
+--------------------+----------------------+
|           Karnataka|                  1556|
|              Odisha|                    61|
|              Kerala|                    17|
|          Tamil Nadu|                  8349|
|        Chhattisgarh|                     1|
|      Andhra Pradesh|                    44|
|      Madhya Pradesh|                   856|
|              Punjab|                     3|
|    Himachal Pradesh|                     1|
|          Puducherry|                     7|
|             Haryana|                     2|
|   Jammu and Kashmir|                     3|
|           Jharkhand|                   226|
|             Gujarat|                     1|
|               Delhi|                    35|
|          Chandigarh|                     2|
|           Rajasthan|                    28|
|Andaman and Nicob...|                     2|
|               Assam|                    26|
|           Meghalaya|                     2|
+--------------------+----------------------+
only showing top 20 rows

## Create a dataframe with Total Aadhaar's generated by each enrollment agency.

In [10]:
df2 = df.groupby("Enrolment Agency").sum("Aadhaar generated").show()

+--------------------+----------------------+
|    Enrolment Agency|sum(Aadhaar generated)|
+--------------------+----------------------+
|  Transmoovers India|                     5|
|OSWAL COMPUTERS &...|                   578|
|SHRIKRISHNA KHAND...|                     1|
|Atalji Janasnehi ...|                  1369|
|Sri Ramraja Sarka...|                     1|
|Asha Security Gua...|                     1|
|Frontech Systems ...|                   109|
|Vedavaag Systems ...|                     1|
|      SARADA SYSTEMS|                     8|
|PROTEX COMPUTER P...|                  2180|
|SREI INFRASTRUCTU...|                 25571|
|VEETECHNOLOGIES P...|                  9674|
|A-Onerealtors Pvt...|                     1|
|CHESSY CONSULTANT...|                   133|
|DATASOFT COMPUTER...|                    21|
|   SGS INDIA PVT LTD|                     1|
+--------------------+----------------------+

## Create dataframe with top 10 districts with maximum Aadhaar's generated for both Male and Female?

In [11]:
df3 = df.crosstab("District","Gender").show()

+---------------+---+---+
|District_Gender|  F|  M|
+---------------+---+---+
|      Chandauli| 14|  8|
|          Panna|  2|  1|
| East Champaran|118|109|
|       Puruliya|112|195|
|          Unnao| 13| 28|
|  Pauri Garhwal|  1|  0|
|         Khunti|  0|  5|
|        Nellore|  2|  0|
|     Villupuram| 43|  0|
|       Azamgarh| 49| 65|
|        Koderma|  3|  8|
| East Singhbhum| 14| 13|
|       Cuddapah|  0|  1|
|          Udupi| 18| 31|
|       Shajapur|  4| 10|
|     East Delhi|  7|  0|
|       Marigaon|  0|  1|
|         Kodagu|  9|  4|
|          Karur|140|  0|
|          Bhind|  5| 15|
+---------------+---+---+
only showing top 20 rows

## Create a dataframe with Total Aadhaar's generated for top 10 least state.

In [12]:
df.agg({"State":"min","Aadhaar generated":"min"}).show()

+--------------------+----------------------+
|          min(State)|min(Aadhaar generated)|
+--------------------+----------------------+
|Andaman and Nicob...|                     0|
+--------------------+----------------------+

## For which age most adhar card has declined ?

In [13]:
df.groupBy("Age").count().show(5)

+---+-----+
|Age|count|
+---+-----+
| 31|  229|
| 85|    2|
| 65|   84|
| 53|   61|
| 78|   27|
+---+-----+
only showing top 5 rows